body {
    overflow-x: hidden;
}

#darkbar {
    margin-bottom: 40px;
    padding-top: 5px;
    display: inline-block;
    background-color: black;
    padding-left: 10%;
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.navbar-default {
    background-color: white !important;
    color: black;
    border: 2px black solid;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 5px;
}

.navbar-default .navbar-nav > .open > a:focus {
    color: black;
    background-color: #f2f2f2;
}

#botbar {
    padding-top: 5px;
    display: inline-block;
    background-color: black;
    padding-left: 10%;
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#bottext {
    display: inline-block;
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#nav-cart {
    padding-right: 10px;
}

#right {
    float: right;
    display: inline-block;
    color: white;
    text-align: center;
}

#cet {
    text-align: right;
    display: inline-block;
    color: lightgray;
}

#left {
    float: left;
    display: inline-block;
}

#left > p {
    color: lightgray;    
}

#right > a {
    color: white;
    font-size: 18px;
    margin-left: 10px;
}

a:link, a:hover {
    color: black;
}

a {
    color: black;
}

.nav > li > a {
    font-size: 18px;
    margin: 0px;
}

.jumbotron {
    background: url(curtain.jpg) no-repeat center center fixed;
    color: ghostwhite;
    text-align: center;
    margin: 20px 10% 50px 10%;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #888888;
}

.jumbotron > h1 {
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#navbarw {
    width: 100%;
    font-size: 10px
}

@media (min-width: 768px) {
    .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
    .navbar-nav.navbar-center > li > a {
        font-size: 16px;
    }
}

#footer {
    position: fixed;
    width: 100%;
    padding-top: 5px;
    display: inline-block;
    background-color: black;
    padding-left: 10%;
}

#sidebar {
    font-size: 18px;
    margin-bottom: 25px;
    border: 2px black solid;
    border-radius: 5px;
    padding-top: 8px;
    box-shadow: 10px 10px 5px #888888;
}

#topdark {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

html {
    position: relative;
    min-height: 100%;
}

.social {
    font-size: 22px;
}

/*footer stickied to bottom*/
body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
}

/*navbar colapse point*/
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav > li {
        float: none;
    }
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
}

/**/
img {
    width: 160px;
    height: 240px;
    align-items: center;
    box-shadow: 10px 10px 5px #888888;
    margin-bottom: 8px;
}

#title {
    font-size: 16px;
    text-align: left;
}

#price {
    font-size: 18px;
    text-align: left;
    font-weight: 500;
}

.img-responsive {
    #width: 140px;
    height: 240px;
}

#item {
    min-height: 350px;
}

.group-item {
    font-size: 14px;
    margin-left: 15px;
    margin-bottom: 5px;
}

.group-item > a:hover {
    text-decoration: none;
    color: darkred;
}

@media (max-width: 991px) {
    #title {
        text-align: center;
    }
    #price {
        text-align: center;
    }
}

@media (max-width: 450px) {
    .img-responsive {
        width: 120px;
        height: 200px;
    }
    #title {
        font-size: 13px;
    }    
    #price {
        font-size: 14px;
    }
    #item {
        height: 210px;        
    }
}

@media (max-width: 370px) {
    .img-responsive {
        width: 100px;
        height: 160px;
    }
    #item {
        min-height: 0;
        height: 250px;
    }
}

#search {
    margin-bottom: 20px;
}